<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.w3.org/1999/xhtml"
      layout:decorate="~{fragments/base}">
<head>
    <title>Añadir servicio</title>
    <meta charset="UTF-8"/>
    <link rel="stylesheet"
          href="https://maxcdn.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"/>
    <link rel="stylesheet" type="text/css" href="/css/estilo.css"/>
</head>
<body>
<div layout:fragment="content">

    <div class="container">
        <h2>Añadir servicio</h2>
        <form action="#" th:action="@{/service/add}"
              th:object="${service}" method="POST">
            <table>
                <tr>
                    <td><label>Tipo de servicio: </label></td>
                    <td><select class="select-css" th:field="*{serviceType}" required>
                        <option value="" selected disabled>-&#45;&#45; Selecciona Typo de Servicio -&#45;&#45;</option>
                        <option th:each="type : ${typosServicios}" th:value="${type.serviceType}"
                                th:utext="${type.serviceType}"></option>
                    </select></td>
                    <td colspan="2"><a href="/typeService/add" class="btn btn btn-primary" role="button"
                                       aria-pressed="true">Añadir Tipo Servicio</a></td>
                </tr>
                <tr>
                    <td><label>Precio</label></td>
                    <td><input type="number" class="form-control" th:field="*{price}" min="0" required/></td>
                </tr>
                <tr>
                    <td><label>Descripción</label></td>
                    <td><input type="text" class="form-control" th:field="*{description}"/></td>
                </tr>
                <tr>
                    <td colspan="2"><input type="submit" value="Añadir servicio" class="btn btn btn-success"
                                           role="button"
                                           aria-pressed="true"/></td>
                </tr>
                <tr>
                    <td colspan="2"><a id="estilo2" onclick="history.back()" class="btn btn btn-exit" role="button">Atrás</a>
                    </td>

                </tr>
            </table>
        </form>
    </div>
</div>
</body>
</html>