<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Modificar Servicio</title>
    <meta charset="UTF-8"/>
    <link rel="stylesheet"
          href="https://maxcdn.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"/>
</head>
<body>
<h1>Modificar Servicio</h1>
<h2 th:text="${service.idService}"></h2>
<form action="#" th:action="@{/service/update}"
      th:object="${service}" method="post">
    <table>
        <tr>
            <td><label>Número de servicio</label></td>
            <td><input type="text" class="form-control" th:field="*{idService}" disabled/></td>
        </tr>
        <tr>
            <td><label>Tipo de servicio</label></td>
            <td><input type="text" class="form-control" th:field="*{serviceType}"/></td>
        </tr>
        <tr>
            <td><label>Precio</label></td>
            <td><input type="number" class="form-control" th:field="*{price}"/></td>
        </tr>
        <tr>
            <td><label>Descripción</label></td>
            <td><input type="text" class="form-control" th:field="*{description}"/></td>
        </tr>
        <tr>
            <td colspan="2"><input type="submit" value="Modifica Servicio" class="btn btn btn-warning" role="button"
                                   aria-pressed="true"/></td>
        </tr>
    </table>
</form>
</body>
</html>
