<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.w3.org/1999/xhtml"
      layout:decorate="~{fragments/base}">
<title>Información solicitud</title>
<meta charset="UTF-8"/>
<link rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"/>
<link rel="stylesheet" type="text/css" href="/css/estilo.css"/>
</head>
<body>

<div layout:fragment="content">
    <div class="container">
        <div class="table-responsive">
            <h4>Información de la solicitud</h4>
            <br>
            <table class="table table-striped" style="width: 50%">
                <tr>

                    <td><b>Servicio: </b></td>
                    <td th:text="${servicios.get(request.idService)}"></td>

                </tr>
                <tr>

                    <td><b>Solicitante: </b></td>
                    <td th:text="${usuario.get(request.dni)}"></td>
            </tr>

            <tr>
                <td><b>Empresa: </b></td>
                <td th:text="${usuario.get(request.nif)}"></td>

            </tr>
            <tr>
                <td><b>Fecha de solicitud: </b></td>
                <td th:text="${#temporals.format(request.dateRequest,'dd/MM/yyyy')}"></td>
            </tr>
            <tr>
                <td><b>Estado: </b></td>
                <td th:text="${request.state}"></td>
            </tr>
            <tr>
                <td><b>Fecha de aceptación: </b></td>
                <td th:text="${#temporals.format(request.dateAccept,'dd/MM/yyyy')}"></td>
            </tr>
            <tr>
                <td><b>Fecha de rechazo: </b></td>
                <td th:text="${#temporals.format(request.dateReject,'dd/MM/yyyy')}"></td>
            </tr>
            <tr>
                <td><b>Comentarios: </b></td>
                <td th:text="${request.comments}"></td>
            </tr>
                <tr>
                    <td><b>Dias: </b></td>
                    <td th:text="${request.dias}"></td>
                </tr>
                <tr>
                    <td colspan="2"><a id="estilo2" onclick="history.back()" class="btn btn btn-exit"
                                       role="button">Atrás</a>
                    </td>
                </tr>
            </table>
        </div>
    </div>
</div>
</body>
</html>