<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.w3.org/1999/xhtml"
      layout:decorate="~{fragments/base}">
<head>
    <title>Mis solicitudes</title>
    <meta charset="UTF-8"/>
    <link rel="stylesheet"
          href="https://maxcdn.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"/>
    <link rel="stylesheet" type="text/css" href="/css/estilo.css"/>
</head>
<body>
<div layout:fragment="content">

    <div class="table-responsive">
        <h1>Mis solicitudes</h1>
        <table class="table table-striped">
            <thead>
            <tr>
                <th>Servicio</th>
                <th>Estado</th>
                <th>Fecha de inicio</th>
                <th>Fecha de finalización</th>
                <th>Comentarios</th>
                <th>Dias</th>
                <th></th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="request: ${#lists.sort(requests)}"
                th:class="${#strings.equals(nuevo,request.getIdRequest())}?'bg-info text-white'">
                <td th:text="${servicios.get(request.getIdService())}"></td>
                <td th:text="${request.getState()}"></td>
                <td th:text="${#temporals.format(request.getDateStart(),'dd/MM/yyyy')}"></td>
                <td th:text="${#temporals.format(request.getDateEnd(),'dd/MM/yyyy')}"></td>
                <td th:text="${request.getComments()}"></td>
                <td th:text="${request.getDias()}"></td>
                <td>
                    <a th:href="@{/request/info/{id}(id=${request.getIdRequest()})}"
                       class="btn btn btn-default" role="button">Ver detalles</a>
                </td>
                <td th:switch="${request.getState()}">
                    <a th:case="'Pendiente'" th:href="@{/request/cancelarRequest/{id}(id=${request.getIdRequest()})}"
                       class="btn btn btn-danger" role="button">Cancelar</a>
                    <a th:case="'Aceptada'" th:href="@{/request/cancelarRequest/{id}(id=${request.getIdRequest()})}"
                       class="btn btn btn-danger" role="button">Cancelar</a>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <a href="addRequestElderly" class="btn btn btn-success" role="button">Añadir Solicitud</a>
    <a id="estilo2" onclick="history.back()" class="btn btn btn-exit" role="button">Atrás</a>
</div>

</body>
</html>
