<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.w3.org/1999/xhtml"
      layout:decorate="~{fragments/base}">
<head>
    <title>Mis solicitudes</title>
    <meta charset="UTF-8"/>
    <link rel="stylesheet"
          href="https://maxcdn.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"/>
    <link rel="stylesheet" type="text/css" href="/css/estilo.css"/></head>
<body>
<div layout:fragment="content">

<div class="container">
    <h1>Lista de mis solicitudes</h1>
    <table class="table table-striped">
        <thead>
        <tr>
            <th>Id solicitud</th>
            <th>servicio</th>
            <th>Empresa</th>
            <th>Estado</th>
            <th>Fecha de solicitud</th>
            <th>Fecha de aceptación</th>
            <th>Fecha de rechazo</th>
            <th>Comentarios</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="request: ${requests}"
            th:class="${#strings.equals(nuevo,request.idRequest)}?'bg-info text-white'">
            <td th:text="${request.idRequest}"></td>
            <td th:text="${servicios.get(request.idService)}"></td>
            <td th:text="${usuario.get(request.nif)}"></td>
            <td th:text="${request.state}"></td>
            <td th:text="${#temporals.format(request.dateRequest,'dd/MM/yyyy')}"></td>
            <td th:text="${#temporals.format(request.dateAccept,'dd/MM/yyyy')}"></td>
            <td th:text="${#temporals.format(request.dateReject,'dd/MM/yyyy')}"></td>
            <td th:text="${request.comments}"></td>
            <div th:if="${!request.isCancelada()}">
            <td >
                <a th:href="@{/request/cancelarRequest/{id}(id=${request.idRequest})}"
                   class="btn btn btn-danger" role="button">Cancelar</a>
            </td>
            </div>
        </tr>
        </tbody>
    </table>
    <a  id="estilo2" href="addRequestElderly" class="btn btn btn-success" role="button">Añadir Solicitud</a>
   <a id="estilo2" onclick="history.back()" class="btn btn btn-danger" role="button" >Atrás</a>
</div>
</div>

</body>
</html>
