<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.w3.org/1999/xhtml"
      layout:decorate="~{fragments/base}">
<head>
    <title>Añadir Trabajador Social</title>
    <meta charset="UTF-8"/>
    <link rel="stylesheet"
          href="https://maxcdn.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"/>
    <link rel="stylesheet" type="text/css" href="/css/estilo.css"/>
</head>
<body>
<div layout:fragment="content">

    <div class="container">
        <h2>Añadir Trabajador Social</h2>
        <form action="#" th:action="@{/socialWorker/add}"
              th:object="${socialWorker}" method="post">
            <table>
                <tr>
                    <td><label>DNI</label></td>
                    <td><input type="text" class="form-control" th:field="*{dni}" maxlength="10" required/></td>
                    <td>
                        <div class="error" th:if="${#fields.hasErrors('dni')}"
                             th:errors="*{dni}"></div>
                    </td>
                </tr>
                <tr>
                    <td><label>Nombre</label></td>
                    <td><input type="text" class="form-control" th:field="*{nombre}" maxlength="50" required/></td>
                </tr>
                <tr>
                    <td><label>Apellidos</label></td>
                    <td><input type="text" class="form-control" th:field="*{apellidos}" maxlength="50" required/></td>
                </tr>
                <tr>
                    <td><label>Telefono</label></td>
                    <td><input type="tel" class="form-control" th:field="*{telefono}" maxlength="10" required/></td>
                </tr>
                <tr>
                    <td><label>Usuario</label></td>
                    <td><input type="text" class="form-control" th:field="*{usuario}" maxlength="30" required/></td>
                    <td>
                        <div class="error" th:if="${#fields.hasErrors('usuario')}"
                             th:errors="*{usuario}"></div>
                    </td>
                </tr>
                <tr>
                    <td><label>Contraseña</label></td>
                    <td><input type="password" class="form-control" th:field="*{contraseña}" maxlength="30" required>
                    </td>
                </tr>
                <tr>
                    <td><label>Email</label></td>
                    <td><input type="text" class="form-control" th:field="*{email}" maxlength="50" required/></td>
                </tr>
                <tr>
                    <td colspan="2"><input type="submit" value="Añadir trabajador social" class="btn btn btn-success"
                                           role="button"
                                           aria-pressed="true"/></td>
                </tr>
                <tr>
                    <td colspan="2"><a id="estilo2" onclick="history.back()" class="btn btn btn-exit" role="button">Atrás</a>
                    </td>
                    </td>
                </tr>
            </table>
        </form>
    </div>
</div>
</body>
</html>