<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.w3.org/1999/xhtml"
      layout:decorate="~{fragments/base}">
<head>
    <title>Gestionar Trabajadores Sociales</title>
    <meta charset="UTF-8"/>
    <link rel="stylesheet"
          href="https://maxcdn.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"/>
    <link rel="stylesheet" type="text/css" href="/css/estilo.css"/>
</head>
<body>
<div layout:fragment="content">
<div class="container">
    <h1>Lista de Trabajadores Sociales</h1>

    <table class="table table-striped">
        <thead>
        <tr>
            <th>DNI</th>
            <th>Nombre</th>
            <th>Apellidos</th>
            <th>Email</th>
            <th>Telefono</th>
            <th>Usuario</th>
            <th>Contraseña</th>
            <th></th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="socialWorker: ${socialWorkers}">
            <td th:text="${socialWorker.dni}"></td>
            <td th:text="${socialWorker.nombre}"></td>
            <td th:text="${socialWorker.apellidos}"></td>
            <td th:text="${socialWorker.email}"></td>
            <td th:text="${socialWorker.telefono}"></td>
            <td th:text="${socialWorker.usuario}"></td>
            <td th:text="${socialWorker.contrasena}"></td>
            <td>
                <a th:href="@{/socialWorker/update/{dni}(dni=${socialWorker.dni})}" class="btn btn btn-warning"
                   role="button"
                   aria-pressed="true">Editar</a>

            </td>
            <td>
                <a th:href="@{/socialWorker/delete/{dni}(dni=${socialWorker.dni})}" class="btn btn btn-danger"
                   role="button"
                   aria-pressed="true">Borrar</a>

            </td>
        </tr>
        </tbody>
    </table>
    <a href="add" class="btn btn btn-success" role="button" aria-pressed="true">Añadir Trabajador Social</a>
    <a href="/login" class="btn btn btn-danger" role="button" aria-pressed="true">Atrás</a>
</div>
</div>
</body>
</html>
