<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.w3.org/1999/xhtml"
      layout:decorate="~{fragments/base}">
<head>
    <title>Añadir empresa</title>
    <meta charset="UTF-8"/>
    <link rel="stylesheet"
          href="https://maxcdn.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"/>
    <link rel="stylesheet" type="text/css" href="/css/estilo.css"/>
</head>
<body>
<div layout:fragment="content">

    <div class="container">
        <h2>Añadir Empresa</h2>
        <form action="#" th:action="@{/company/addContract}"
              th:object="${company}" method="post">

            <table>
                <tr>
                    <td><label>CIF</label></td>
                    <td><input type="text" class="form-control" th:field="*{nif}" required/></td>
                    <td>
                        <div class="error" th:if="${#fields.hasErrors('nif')}"
                             th:errors="*{nif}"></div>
                    </td>
                </tr>
                <tr>
                    <td><label>Nombre de la empresa</label></td>
                    <td><input type="text" class="form-control" th:field="*{nombre}" required/></td>
                    <td>
                        <div class="error" th:if="${#fields.hasErrors('nombreUsuario')}"
                             th:errors="*{nombreUsuario}"></div>
                    </td>
                </tr>
                <tr>
                    <td><label>Persona de contacto</label></td>
                    <td><input type="text" class="form-control" th:field="*{nombreResponsable}" required/></td>
                </tr>
                <tr>
                    <td><label>Dirección</label></td>
                    <td><input type="text" class="form-control" th:field="*{direccion}" required/></td>
                </tr>
                <tr>
                    <td><label>Teléfono</label></td>
                    <td><input type="tel" class="form-control" th:field="*{numeroTelf}" maxlength="9" required/></td>
                </tr>
                <tr>
                    <td><label>Usuario</label></td>
                    <td><input type="text" class="form-control" th:field="*{nombreUsuario}" required/></td>
                </tr>
                <tr>
                    <td><label>Contraseña</label></td>
                    <td><input type="password" class="form-control" th:field="*{password}" required/></td>
                </tr>
                <tr>
                    <td><label>Email</label></td>
                    <td><input type="text" class="form-control" th:field="*{email}" required/></td>
                </tr>
                <tr>
                    <td><label>Cuenta bancaria</label></td>
                    <td><input type="text" class="form-control" th:field="*{cuentaBancaria}"
                               placeholder="ESXX-XXXX-XXXX-XXXX-XXXX-XXXX" size="32"
                               MAXLENGTH="29" required/>
                </tr>
                <tr>
                    <td colspan="2"><input type="submit" value="Añadir compañia"
                                           class="btn btn btn-success" role="button"
                                           aria-pressed="true"/></td>
                </tr>
                <tr>
                    <td colspan="2"><a onclick="history.back()" class="btn btn btn-danger" role="button">Atrás</a>
                    </td>

                </tr>
            </table>
        </form>
    </div>
</div>
</body>
</html>