<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.w3.org/1999/xhtml"
      layout:decorate="~{fragments/base}">
<head>
    <title>Servicios de una empresa</title>
    <meta charset="UTF-8"/>
    <link rel="stylesheet"
          href="https://maxcdn.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"/>
    <link rel="stylesheet" type="text/css" href="/css/estilo.css"/>
</head>
<body>
<div layout:fragment="content">
    <div class="container">
        <h1>Mis Servicios</h1>

        <table class="table table-striped">
            <thead>
            <tr>
                <th>Número de servicio</th>
                <th>Descripción</th>
                <th>Precio</th>
                <th>Tipo de servicio</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="company: ${serviceCompanyList}"
                th:class="${#strings.equals(nuevo,company.getIdService())}?'bg-info text-white'">
                <td th:text="${company.getIdService()}"></td>
                <td th:text="${company.getDescription()}"></td>
                <td th:text="${company.getPrice()}"></td>
                <td th:text="${company.getServiceType()}"></td>
                <td>
                    <a th:href="@{/service/update/{idService}(idService=${service.idService})}"
                       class="btn btn btn-warning" role="button"
                       aria-pressed="true">Editar</a>

                </td>
                <td>
                    <a th:href="@{/service/delete/{idService}(idService=${service.idService})}"
                       class="btn btn btn-danger" role="button"
                       aria-pressed="true">Borrar</a>

                </td>
            </tr>
            </tbody>
        </table>
        <a href="add" class="btn btn btn-success" role="button" aria-pressed="true">Añadir Servicio</a>
        <a href="/login" class="btn btn btn-danger" role="button" aria-pressed="true">Atrás</a>
    </div>
</div>
</body>
</html>
