<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Añadir persona mayor</title>
    <meta charset="UTF-8"/>
    <link rel="stylesheet"
          href="https://maxcdn.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"/>
</head>
<body>
<h2>Añadir persona mayor</h2>
<form action="#" th:action="@{/elderly/add}"
      th:object="${elderly}" method="post">
    <table>
        <tr>
            <td><label>DNI</label></td>
            <td><input type="text" class="form-control" th:field="*{dni}" required/></td>
        </tr>
        <tr>
            <td><label>Nombre</label></td>
            <td><input type="text" class="form-control" th:field="*{nombre}"/></td>
        </tr>
        <tr>
            <td><label>Apellidos</label></td>
            <td><input type="text" class="form-control" th:field="*{apellidos}"/></td>
        </tr>
        <tr>
            <td><label>Direccion</label></td>
            <td><input type="text" class="form-control" th:field="*{direccion}"/></td>
        </tr>
        <tr>
            <td><label>Alergias</label></td>
            <td>
                <li th:each="allergie : ${allergies}">
                    <input type="checkbox" name="allergies" th:value="${allergie}"/>
                    <label th:text="${allergie}"></label>
                </li>
            </td>
        </tr>
        <tr>
            <td><label>Telefono</label></td>
            <td><input type="tel" class="form-control" th:field="*{telefono}"/></td>
        </tr>
        <tr>
            <td><label>Usuario</label></td>
            <td><input type="text" class="form-control" th:field="*{usuario}" required/></td>
        </tr>
        <tr>
            <td><label>Contraseña</label></td>
            <td><input type="password" class="form-control" th:field="*{contraseña}" required/></td>
        </tr>
        <tr>
            <td><label>Fecha de alta</label></td>
            <td><input type="date" class="form-control" th:field="*{releaseDate}"/></td>
        </tr>
        <tr>
            <td><label>Email</label></td>
            <td><input type="text" class="form-control" th:field="*{email}"/></td>
        </tr>
        <tr>
            <td><label>Cumpleaños</label></td>
            <td><input type="date" class="form-control" th:field="*{birthday}"/></td>
        </tr>
        <tr>
            <td><label>Cuenta Bancaria</label></td>
            <td><input type="text" class="form-control" th:field="*{cuentaBancaria}"
                       placeholder="ESXX-XXXX-XXXX-XXXX-XXXX-XXXX" size="32"
                       maxlength="29" required/>
            </td>
        </tr>
        <tr>
            <td colspan="2"><input type="submit" value="Añadir persona mayor" class="btn btn btn-success" role="button"
                                   aria-pressed="true"/></td>
        </tr>
        <tr>
            <td colspan="2"><a href="/elderly/list" class="btn btn btn-danger" role="button"
                               aria-pressed="true">Atrás</a></td>
        </tr>
    </table>
</form>
</body>
</html>