<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.w3.org/1999/xhtml"
      layout:decorate="~{fragments/base}">
<head>
    <title>Gestionar Offers</title>
    <meta charset="UTF-8"/>
    <link rel="stylesheet"
          href="https://maxcdn.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"/>
    <link rel="stylesheet" type="text/css" href="/css/estilo.css"/>
</head>
<body>
<div layout:fragment="content">

    <div class="table-responsive">
        <h1>Offers</h1>

        <table class="table table-striped">
            <thead>
            <tr>
                <th>Número de servicio</th>
                <th>Nif</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="offer: ${offers}"
                th:class="${#strings.equals(nuevo,offer.nif)}?'bg-info-nuevo'">
                <td th:text="${offer.getIdService()}"></td>
                <td th:text="${offer.getNif()}"></td>
            </tr>
            </tbody>
        </table>
    </div>
    <a href="addService" class="btn btn btn-success" role="button" aria-pressed="true">Solicitar Servicio</a>
    <a id="estilo2" onclick="history.back()" class="btn btn btn-exit" role="button">Atrás</a>
</div>

</body>
</html>
