<div class="loggeduser" th:object="${session}" xmlns:th="http://www.w3.org/1999/xhtml">
    <div th:if="*{user == null}">
             <div th:replace="fragments/navVacio"></div>
          <br>
          No autenticat <a id="estilo1" href="/login" th:href="@{/login}">Entrar</a>
    </div>
    <div th:unless="*{user == null}">
    <!--<p th:replace="fragments/nav"></p>-->
           <br>

        <b>Autenticado como: </b> <span th:text="*{user.username}"></span>


        <b> | Tipo de usuario: </b> <span th:text="*{user.tipo}"></span>

        <b>|</b>
        <a id="estilo1" href="/logout" th:href="@{/logout}"> Salir</a>
    </div>
</div>
