<nav class="navbar navbar-expand-lg navbar-dark navbar-custom fixed-top" xmlns:th="http://www.w3.org/1999/xhtml">
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav m-auto">
            <li class="nav-item">
                <a class="nav-link" href="/" th:href="@{/}">MAJORS A CASA</a>
            </li>
            <li>
                <a class="nav-link">|</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="company/list" th:href="@{/company/list}">EMPRESAS</a>
            </li>
            <li>
                <a class="nav-link">|</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="contract/list" th:href="@{/contract/list}">CONTRATOS</a>
            </li>
            <li>
                <a class="nav-link">|</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="service/list" th:href="@{/service/list}">SERVICIOS</a>
            </li>
            <li>
                <a class="nav-link">|</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="contract/add" th:href="@{/contract/add}">AÑADIR CONTRATO</a>
            </li>
        </ul>
    </div>
</nav>