<nav class="navbar navbar-expand-lg navbar-dark navbar-custom fixed-top" xmlns:th="http://www.w3.org/1999/xhtml">
    <div class="container">

        <a class="nav-link" href="/" th:href="@{/}">MAJORS A CASA</a>
        <a class="nav-link" href="company/list" th:href="@{/company/list}">EMPRESAS</a>
        <a class="nav-link" href="elderly/list" th:href="@{/elderly/list}">PERSONAS MAYORES</a>
        <a class="nav-link" href="volunteer/list" th:href="@{/volunteer/list}">VOLUNTARIOS</a>
        <a class="nav-link" href="socialWorker/list" th:href="@{/socialWorker/list}">TRABAJADOR SOCIAL</a>
        <a class="nav-link" href="contract/list" th:href="@{/contract/list}">CONTRATOS</a>
        <a class="nav-link" href="invoice/list" th:href="@{/invoice/list}">FACTURAS</a>
        <a class="nav-link" href="service/list" th:href="@{/service/list}">SERVICIOS</a>
        <a class="nav-link" href="volunteertime/list" th:href="@{/volunteertime/list}">HORARIOS</a>

    </div>
    </div>
</nav>