<nav xmlns:th="http://www.w3.org/1999/xhtml">
    <div class="dropdown">

        <a class="nav-link" href="/" th:href="@{/}">HOME</a>
        <a class="nav-link" href="contract/listContratos" th:href="@{/contract/listContratos}">Mis Contratos</a>
        <a class="nav-link" href="contract/listServicios" th:href="@{/contract/listServicios}">Mis Servicios</a>
        <a class="nav-link" href="company/perfil" th:href="@{/company/perfil}">Mi perfil</a>
        <a class="nav-link" href="company/invoiceList" th:href="@{/company/invoiceListCompany}">Mis facturas</a>

    </div>
    </div>
</nav>

