<nav xmlns:th="http://www.w3.org/1999/xhtml">
    <div class="dropdown">

        <a class="nav-link" href="/" th:href="@{/}">HOME</a>
        <a class="nav-link" href="contract/listContratos" th:href="@{/contract/listContratos}">Mis Contratos</a>
        <a class="nav-link" href="company/perfil" th:href="@{/company/perfil}">Mi perfil</a>
        <a class="nav-link" href="/company/serviceList" th:href="@{/company/serviceList}">Mis servicios</a>
        <a class="nav-link" href="/company/contractList" th:href="@{/company/contractList}">Mis contratos</a>

    </div>
    </div>
</nav>

