<nav xmlns:th="http://www.w3.org/1999/xhtml">
    <div class="dropdown">
        <a class="nav-link" href="/" th:href="@{/}">HOME</a>
        <a class="nav-link" href="company/invoiceList" th:href="@{../invoice/invoiceListElderly}">Mis facturas</a>
        <a class="nav-link" href="/service/elderlyList" th:href="@{/service/elderlyList}"> Mis servicios</a>
        <a class="nav-link" href="elderlyListC" th:href="@{/contract/contractElderlyList}">Mis contratos</a>
        <a class="nav-link" href="request/listElderly" th:href="@{../request/listElderly}">Mis Solicitudes</a>
        <a class="nav-link" href="elderly/perfil" th:href="@{/elderly/perfil}">Mi perfil</a>
    </div>
    </div>
</nav>