

<nav class="navbar navbar-expand-lg navbar-dark navbar-custom fixed-top" xmlns:th="http://www.w3.org/1999/xhtml">
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav m-auto">
            <li class="nav-item">
                <a class="nav-link" href="/" th:href="@{/}">MAJORS A CASA</a>
            </li>
            <li>
                <a class="nav-link">|</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="volunteer/list" th:href="@{/volunteer/listVolunteer}">VOLUNTARIOS</a>
            </li>
            <li>
                <a class="nav-link">|</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="volunteer/listMisVoluntarios" th:href="@{/volunteer/listMisVolunteer}">MIS
                    VOLUNTARIOS</a>
            </li>
            <li>
                <a class="nav-link">|</a>
            </li>
            <div class="dropdown">
<!--                <a class="nav-link" href="valoraciones/elderlyList" th:href="@{/valoraciones/elderlyList}">MIS
                    VALORACIONES</a>-->
                    <button class="dropbtn">VALORACIONES</button>
                    <div class="dropdown-content">
                        <a th:href="@{/valoraciones/elderlyList}">Voluntarios</a>
                        <a th:href="@{/valoraciones/serviceValoration}">Servicios</a>

                </div>
            </div>
            <li>
                <a class="nav-link">|</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="request/listElderly" th:href="@{/request/listElderly}">MIS SOLICITUDES</a>
            </li>
            <li>
                <a class="nav-link">|</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="service/elderlyList" th:href="@{/service/elderlyList}">MIS SERVICIOS</a>
            </li>
            <li>
                <a class="nav-link">|</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="company/invoiceList" th:href="@{/invoice/invoiceListElderly}">MIS
                    FACTURAS</a>
            </li>
            <li>
                <a class="nav-link">|</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="elderly/perfil" th:href="@{/elderly/perfil}">MI PERFIL</a>
            </li>
        </ul>
    </div>
</nav>