<nav xmlns:th="http://www.w3.org/1999/xhtml">
    <div class="dropdown">

        <a class="nav-link" href="/" th:href="@{/}">HOME</a>

        <!--
                <a class="nav-link" href="company/list" th:href="@{/company/list}">Empresas</a>
                <a class="nav-link" href="contract/list" th:href="@{/contract/list}">Gestión de Contratos</a>
                <a class="nav-link" href="invoice/list" th:href="@{/invoice/list}">Facturas</a>
                <a class="nav-link" href="elderly/list" th:href="@{/elderly/list}">Personas Mayores</a>
                <a class="nav-link" href="volunteer/list" th:href="@{/volunteer/list}">Voluntarios</a>
                <a class="nav-link" href="service/list" th:href="@{/service/list}">Servicios</a>
                <a class="nav-link" href="volunteertime/list" th:href="@{/volunteertime/list}">Horario Voluntario</a>
                  <a class="nav-link" href="socialWorker/list" th:href="@{/socialWorker/list}">Trabajador social</a>
                   <a class="nav-link" href="socialWorker/elderlyList" th:href="@{/socialWorker/elderlyList}">Personas mayores de
                       social </a>
                   <a class="nav-link" href="volunteer/scheduleList" th:href="@{/volunteer/scheduleList}">Mis horarios</a>
                   <a class="nav-link" href="company/perfil" th:href="@{/company/perfil}">Mi perfil Empresa</a>
                   <a class="nav-link" href="elderly/perfil" th:href="@{/elderly/perfil}">Mi perfil Elderly</a>
           -->
    </div>
    </div>
</nav>