<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.w3.org/1999/xhtml"
      layout:decorate="~{fragments/base}">
<head>
    <title>Añadir voluntario</title>
    <meta charset="UTF-8"/>
    <link rel="stylesheet"
          href="https://maxcdn.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"/>
    <link rel="stylesheet" type="text/css" href="/css/estilo.css"/>
</head>
<body>
<div layout:fragment="content">

    <div class="container">
        <h2>Añadir Voluntario</h2>
        <form action="#" th:action="@{/volunteer/addRegister}"
              th:object="${volunteer}" method="post">
            <table>
                <tr>
                    <td><label>DNI</label></td>
                    <td><input type="text" class="form-control" th:field="*{dni}" required/></td>
                    <td>
                        <div class="error" th:if="${#fields.hasErrors('dni')}"
                             th:errors="*{dni}"></div>
                    </td>
                </tr>
                <tr>
                    <td><label>Nombre</label></td>
                    <td><input type="text" class="form-control" th:field="*{nombre}" required/></td>
                </tr>
                <tr>
                    <td><label>Apellidos</label></td>
                    <td><input type="text" class="form-control" th:field="*{apellidos}" required/></td>
                </tr>
                <tr>
                    <td><label>Direccion</label></td>
                    <td><input type="text" class="form-control" th:field="*{direccion}" required/></td>
                </tr>
                <tr>
                    <td><label>Telefono</label></td>
                    <td><input type="tel" class="form-control" th:field="*{telefono}" maxlength="9" required/></td>
                </tr>
                <tr>
                    <td><label>Usuario</label></td>
                    <td><input type="text" class="form-control" th:field="*{usuario}" required/></td>
                    <td>
                        <div class="error" th:if="${#fields.hasErrors('usuario')}"
                             th:errors="*{usuario}"></div>
                    </td>
                </tr>
                <tr>
                    <td><label>Contraseña</label></td>
                    <td><input type="password" class="form-control" th:field="*{contraseña}" required/></td>
                </tr>
                <!--                <tr>-->
                <!--                    <td><label>Fecha de alta</label></td>-->
                <!--                    <td><input type="date" class="form-control" th:field="*{releaseDate}" required/></td>-->
                <!--                </tr>-->
                <tr>
                    <td><label>E-mail</label></td>
                    <td><input type="text" class="form-control" th:field="*{email}" required/></td>
                </tr>
                <tr>
                    <td><label>Cumpleaños</label></td>
                    <td><input type="date" class="form-control" th:field="*{birthday}" required/></td>
                </tr>
                <tr>
                    <td colspan="2"><input  id="estilo2" type="submit" value="Añadir voluntario" class="btn btn btn-success"
                                           role="button"
                                           aria-pressed="true"/></td>
                </tr>
                <tr>
                    <td colspan="2">  <a id="estilo2" onclick="history.back()" class="btn btn btn-danger" role="button" >Atrás</a></td>

                </tr>
            </table>
        </form>
    </div>
</div>
</body>
</html>