<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.w3.org/1999/xhtml"
      layout:decorate="~{fragments/base}">
<head>
    <title>Gestionar Voluntarios</title>
    <meta charset="UTF-8" />
    <link rel="stylesheet"
          href="https://maxcdn.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"/>
    <link rel="stylesheet" type="text/css" href="/css/estilo.css"/></head>
<body>
<div layout:fragment="content">

<div class="container">
<h1>Lista de Voluntarios</h1>

<table class="table table-striped table-responsive">
    <thead>
    <tr>
        <th>DNI</th>
        <th>Nombre</th>
        <th>Apellido</th>
        <th>Dirección</th>
        <th>Fecha Alta</th>
        <th>Fecha Baja</th>
        <th>Cumpleaños</th>
        <th>Estado</th>
        <th></th>
        <th></th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="voluntario: ${volunteers}"
        th:class="${#strings.equals(nuevo,voluntario.dni)}?'bg-info text-white'">
        <td th:text="${voluntario.dni}"></td>
        <td th:text="${voluntario.nombre}"></td>
        <td th:text="${voluntario.apellidos}"></td>
        <td th:text="${voluntario.direccion}"></td>
        <td th:text="${#temporals.format(voluntario.releaseDate,'dd/MM/yyyy')}"></td>
        <td th:text="${#temporals.format(voluntario.dataDown,'dd/MM/yyyy')}"></td>
        <td th:text="${#temporals.format(voluntario.birthday,'dd/MM/yyyy')}"></td>
        <td th:text="${voluntario.estado}"></td>

        <td>
            <a th:href="@{/volunteer/update/{dni}(dni=${voluntario.dni})}" class="btn btn btn-secondary" role="button"
               aria-pressed="true">Editar</a>

        </td>
        <td>
            <a th:href="@{/volunteer/delete/{dni}(dni=${voluntario.dni})}" class="btn btn btn-danger" role="button"
               aria-pressed="true">Borrar</a>
        </td>
        <td>
            <div th:if="${!voluntario.getAceptado()}">

            <a th:href="@{/volunteer/updateAcepted/{dni}(dni=${voluntario.dni})}" class="btn btn btn-success" role="button"
               aria-pressed="true">Aceptar Voluntario</a>
            </div>
        </td>
    </tr>
    </tbody>
</table>
</div>
</div>

</body>
</html>
