<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.w3.org/1999/xhtml"
      layout:decorate="~{fragments/base}">
<head>
    <title>Gestionar Voluntarios</title>
    <meta charset="UTF-8"/>
    <link rel="stylesheet"
          href="https://maxcdn.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"/>
    <link rel="stylesheet" type="text/css" href="/css/estilo.css"/>
</head>
<body>
<div layout:fragment="content">

    <div class="table-responsive">
        <h1>Voluntarios</h1>
        <h5 th:text="${mensaje}"></h5>
        <table class="table table-striped">
            <thead>
            <tr>
                <th>DNI</th>
                <th>Nombre</th>
                <th>Apellido</th>
                <th>Dirección</th>
                <th>Fecha Alta</th>
                <th>Fecha Baja</th>
                <th>Cumpleaños</th>
                <th>Estado</th>
                <th></th>
                <th></th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="voluntario: ${#lists.sort(volunteers)}"
                th:class="${#strings.equals(nuevo,voluntario.getDni())}?'bg-info text-white'">
                <td th:text="${voluntario.getDni()}"></td>
                <td th:text="${voluntario.getNombre()}"></td>
                <td th:text="${voluntario.getApellidos()}"></td>
                <td th:text="${voluntario.getDireccion()}"></td>
                <td th:text="${#temporals.format(voluntario.getReleaseDate(),'dd/MM/yyyy')}"></td>
                <td th:text="${#temporals.format(voluntario.getDataDown(),'dd/MM/yyyy')}"></td>
                <td th:text="${#temporals.format(voluntario.getBirthday(),'dd/MM/yyyy')}"></td>
                <td th:text="${voluntario.getEstado()}"></td>
                <td>
                    <a th:href="@{/volunteer/update/{dni}(dni=${voluntario.getDni()})}" class="btn btn btn-secondary"
                       role="button"
                       aria-pressed="true">Editar</a>

                </td>
                <td>
                    <div th:if="${voluntario.getEstado() == 'Pendiente'}">
                        <a th:href="@{/volunteer/accept/{dni}(dni=${voluntario.getDni()})}"
                           class="btn btn btn-success" role="button"
                           aria-pressed="true">Aceptar</a>
                    </div>
                </td>
                <td>
                    <div th:if="${voluntario.getEstado() == 'Pendiente'}">
                        <a th:href="@{/volunteer/reject/{dni}(dni=${voluntario.getDni()})}" class="btn btn btn-warning"
                           role="button"
                           aria-pressed="true">Rechazar</a>
                    </div>
                    <div th:if="${voluntario.getEstado() == 'Rechazado'}">
                        <a th:href="@{/volunteer/delete/{dni}(dni=${voluntario.getDni()})}" class="btn btn btn-danger"
                           role="button"
                           aria-pressed="true">Borrar</a>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <td colspan="2"><a id="estilo2" onclick="history.back()" class="btn btn btn-exit" role="button">Atrás</a></td>
</div>
</body>
</html>
