<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Gestionar Voluntarios</title>
    <meta charset="UTF-8" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" />
</head>
<body>
<div class="container">
<h1>Listar de Voluntarios</h1>

<table class="table table-striped">
    <thead>
    <tr>
        <th>Nombre</th>
        <th>Apellido</th>
        <th>Dirección</th>
        <th>DNI</th>

        <th></th>
        <th></th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="voluntario: ${volunteers}">
        <td th:text="${voluntario.nombre}"></td>
        <td th:text="${voluntario.apellidos}"></td>
        <td th:text="${voluntario.direccion}"></td>
        <td th:text="${voluntario.dni}"></td>
        <td>
            <a th:href="@{/volunteer/update/{dni}(dni=${voluntario.dni})}" class="btn btn btn-warning" role="button"
               aria-pressed="true">Editar</a>

        </td>
        <td>
            <a th:href="@{/volunteer/delete/{nom}(nom=${voluntario.dni})}" class="btn btn btn-danger" role="button"
               aria-pressed="true">Borrar</a>

        </td>
    </tr>
    </tbody>
</table>
<a  href="add" class="btn btn btn-success" role="button" aria-pressed="true">Añadir Voluntario</a>
</div>
</body>
</html>
