<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.w3.org/1999/xhtml"
      layout:decorate="~{fragments/base}">
<head>
    <meta charset="UTF-8">
    <title>Confirmar eliminación de cuenta</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="UTF-8"/>
    <link rel="stylesheet"
          href="https://maxcdn.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"/>
    <link rel="stylesheet" type="text/css" href="/css/estilo.css"/>
</head>
<body>
<div layout:fragment="content">

    <div class="container" align="center">
        <h4>¿Estas seguro que quieres eliminar tu cuenta?</h4>
        <a th:href="@{/{usuario}/delete/{dni}(usuario=${user.getTipo().toLowerCase()},dni=${user.getDni()})}"
           class="btn btn-success"
           role="button"
           aria-pressed="true">Confirmar</a>
        <a href="#" onclick="history.back()" class="btn btn-danger" role="button">Cancelar</a>
    </div>
</div>

</body>
</html>