<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.w3.org/1999/xhtml">
<head>
    <title th:text="${mailBody.getSubject()}"></title>
    <meta charset="UTF-8"/>
    <link rel="stylesheet"
          href="https://maxcdn.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"/>
    <link rel="stylesheet" type="text/css" href="/css/estilo.css"/>

    <style>
        body {
            background-color: #FFFFFF;
            font-family: 'IBM Plex Sans', sans-serif;
            color: #181717;
        }
    </style>
</head>
<body>
<header>
    <nav class="navbar navbar-expand-lg navbar-dark navbar-custom fixed-top">
        <!--<div class="container">-->
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav m-auto nav-item">
                <a class="nav-link">MAJORS A CASA</a>
            </ul>
        </div>
    </nav>
</header>
<div class="container">
    <p th:text="${'Buenas ' + usuario.getName()+','}"></p>
    <p th:text="${mailBody.getContent()}"></p>
</div>
<footer>
    <hr>
    <p class="text-muted">Majors A Casa © Copyright 2020, Generalitat Valenciana</p>
</footer>
</body>
</html>