<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.w3.org/1999/xhtml">
<head>
    <title th:text="${mailBody.getSubject()}"></title>
    <meta charset="UTF-8"/>
    <link rel="stylesheet"
          href="https://maxcdn.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"/>
    <link rel="stylesheet" type="text/css" href="/css/estilo.css"/>

    <style>
        body {
            background-color: #FFFFFF;
            font-family: 'IBM Plex Sans', sans-serif;
            color: #181717;
        }
    </style>
</head>
<body>
<div class="container">
    <img src="cid:navEmail.png">
    <p th:text="${'Buenas ' + usuario.getName()+','}"></p>
    <p th:text="${mailBody.getContent()}"></p>
    <p>Muchas gracias.</p>
    <p>Att:</p>
    <p>El equipo de Majors A Casa</p>
</div>
<footer>
    <hr>
    <p class="text-muted">Majors A Casa © Copyright 2020, Generalitat Valenciana</p>
</footer>
</body>
</html>