<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.w3.org/1999/xhtml"
      layout:decorate="~{fragments/base}">
<head>
    <meta charset="UTF-8"/>
    <title>MAJORS A CASA</title>
    <link rel="stylesheet"
          href="https://maxcdn.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"/>
    <link rel="stylesheet" type="text/css" href="/css/estilo.css"/>
</head>
<body>
<div layout:fragment="content">
    <div class="container-fluid">
        <h3 class="login-heading mb-4">Bienvenido!</h3>
        <form action="#" th:action="@{/login}"
              th:object="${user}" method="post">
            <div class="form-label-group">

                <label for="inputUser">Usuario</label>
                <input class="form-control" id="inputUser" type="text" th:field="*{username}"
                       placeholder="Usuario"
                       required autofocus/>

                <!-- <input type="text" id="inputUser" class="form-control" placeholder="Usuario"
                        required autofocus>-->
                <div class="error" th:if="${#fields.hasErrors('username')}"
                     th:errors="*{username}"></div>


                <label for="inputPassword">Contraseña</label>
                <input class="form-control" id="inputPassword" type="password"
                       th:field="*{password}" placeholder="Contraseña" required/>
                <div class="error" th:if="${#fields.hasErrors('password')}"
                     th:errors="*{password}"></div>

                <!-- <input type="password" id="inputPassword" class="form-control"
                        placeholder="Contraseña" required> -->

                <div class="custom-control custom-checkbox mb-3">
                    <input type="checkbox" class="custom-control-input" id="customCheck1">
                    <label class="custom-control-label" for="customCheck1">Recordar
                        contraseña</label>
                </div>
                <button class="btn btn-lg btn-primary btn-block btn-login text-uppercase font-weight-bold mb-2"
                        type="submit" value="Accedir">Entrar
                </button>


        </form>
        <button class="btn btn-lg btn-primary btn-block btn-login text-uppercase font-weight-bold mb-2"
                type="submit">Registrar
        </button>

        <div class="text-center">
            <a class="small" href="#">Forgot password?</a></div>
    </div>
</div>
</div>
</div>
</body>
</html>
