<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Añadir contrato</title>
    <meta charset="UTF-8"/>
    <link rel="stylesheet"
          href="https://maxcdn.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"/>
</head>
<body>
<h2>Añadir Contrato</h2>
<form action="#" th:action="@{/contract/add}"
      th:object="${contract}" method="post">
    <table>
        <tr>
            <td><label>NIF</label></td>
            <td><input type="text" th:field="*{nif}"/></td>
        </tr>
        <tr>
            <td><label>Firma</label></td>
            <td><input type="text" th:field="*{firma}"/></td>
        </tr>
        <tr>
            <td><label>Datos</label></td>
            <td><input type="text" th:field="*{datos}"/></td>
        </tr>
        <tr>
            <td><label>Precio</label></td>
            <td><input type="text" th:field="*{precio}"/></td>
        </tr>
        <tr>
            <td><label>Fecha de alta</label></td>
            <td><input type="date" th:field="*{releaseDate}"/></td>
        </tr>
        <tr>
            <td><label>Fecha de baja</label></td>
            <td><input type="date" th:field="*{dateDown}"/></td>
        </tr>
        <tr>
            <td><label>Cantidad</label></td>
            <td><input type="number" th:field="*{cantidad}"/></td>
        </tr>
        <tr>
            <td><label>Descripción</label></td>
            <td><input type="text" th:field="*{descripcion}"/></td>
        </tr>
        <tr>
            <td colspan="2"><input type="submit" value="Añadir contrato"/></td>
        </tr>
    </table>
</form>
</body>
</html>