<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.w3.org/1999/xhtml"
      layout:decorate="~{fragments/base}">
<head>
    <title>Gestionar Contratos</title>
    <meta charset="UTF-8"/>
    <link rel="stylesheet"
          href="https://maxcdn.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"/>
    <link rel="stylesheet" type="text/css" href="/css/estilo.css"/></head>
<body>
<div layout:fragment="content">

<div class="container">
    <h1>Lista de Contratos</h1>

    <table class="table table-striped">
        <thead>
        <tr>
            <th>Nº Contrato</th>
            <th>NIF</th>
            <th>Firma</th>
            <th>DNI Persona mayor</th>
            <th>Cantidad</th>
            <th>Descripción</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="contrato: ${contracts}"
            th:class="${#strings.equals(nuevo,contrato.idContract)}?'bg-info text-white'">
            <td th:text="${contrato.idContract}"></td>
            <td th:text="${contrato.nifcompany}"></td>
            <td th:text="${contrato.firma}"></td>
            <td th:text="${contrato.dnielderly}"></td>
            <td th:text="${contrato.cantidad}"></td>
            <td th:text="${contrato.descripcion}"></td>
            <td th:text="${contrato.contractPDF}"></td>
            <td>
                <div th:if="${!contrato.contractPDF}">
                    <a th:href="@{/contract/upload/{ncontract}(ncontract=${contrato.idContract})}"
                       class="btn btn btn-default"
                       role="button"
                       aria-pressed="true">Añadir PDF</a>
                </div>
                <div th:if="${contrato.contractPDF}">
                    <a th:href="@{/contract/upload/{ncontract}(ncontract=${contrato.idContract})}"
                       class="btn btn btn-default"
                       role="button"
                       aria-pressed="true">Ver PDF</a>
                </div>
            </td>
            <td>
                <a th:href="@{/contract/update/{ncontract}(ncontract=${contrato.idContract})}"
                   class="btn btn btn-secondary"
                   role="button"
                   aria-pressed="true">Editar</a>
            </td>
            <td>
                <a th:href="@{/contract/delete/{ncontract}(ncontract=${contrato.idContract})}"
                   class="btn btn btn-danger"
                   role="button"
                   aria-pressed="true">Borrar</a>

            </td>
        </tr>
        </tbody>
    </table>
    <a href="add" class="btn btn btn-success" role="button" aria-pressed="true">Añadir Contrato</a>
    <a id="estilo2" onclick="history.back()" class="btn btn btn-danger" role="button" >Atrás</a>
</div>
</div>

</body>
</html>
