<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Gestionar Voluntarios</title>
    <meta charset="UTF-8"/>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"/>
</head>
<body>
<div class="container">
    <h1>Lista de Voluntarios</h1>
    <table class="table table-striped">
        <thead>
        <tr>
            <th>DNI Voluntario</th>
            <th>DNI Persona Mayor</th>
            <th>Dia</th>
            <th>Mes</th>
            <th>Hora Inicio</th>
            <th>Hora Fin</th>
            <th>Disponibilidad</th>
            <th></th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="voluntario: ${volunteersTime}">
            <td th:text="${voluntario.dniVolunteer}"></td>
            <td th:text="${voluntario.dniElderly}"></td>
            <td th:text="${voluntario.dia}"></td>
            <td th:text="${voluntario.mes}"></td>
            <td th:text="${voluntario.startTime}"></td>
            <td th:text="${voluntario.endTime}"></td>
            <td th:text="${voluntario.availability}"></td>
            <td>
                <a th:href="@{/volunteer/update/{dni}(dni=${voluntario.dniVolunteer})}" class="btn btn btn-warning"
                   role="button"
                   aria-pressed="true">Editar</a>

            </td>
            <td>
                <a th:href="@{/volunteer/delete/{dni}(dni=${voluntario.dniVolunteer})}" class="btn btn btn-danger"
                   role="button"
                   aria-pressed="true">Borrar</a>

            </td>
        </tr>
        </tbody>
    </table>
    <a href="add" class="btn btn btn-success" role="button" aria-pressed="true">Añadir Voluntario</a>
</div>
</body>
</html>
