<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.w3.org/1999/xhtml"
      layout:decorate="~{fragments/base}">
<head>
    <title>Gestionar Produces</title>
    <meta charset="UTF-8"/>
    <link rel="stylesheet"
          href="https://maxcdn.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"/>
    <link rel="stylesheet" type="text/css" href="/css/estilo.css"/>
</head>
<body>
<div layout:fragment="content">

<div class="container">
    <h1>Lista de Produces</h1>

    <table class="table table-striped table-responsive">
        <thead>
        <tr>
            <th>Número de factura</th>
            <th>Número de solicitud</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="produce: ${produces}"
            th:class="${#strings.equals(nuevo,produce.idRequest)}?'bg-info text-white'">
            <td th:text="${produce.idInvoice}"></td>
            <td th:text="${produce.idRequest}"></td>
        </tr>
        </tbody>
    </table><a id="estilo2" onclick="history.back()" class="btn btn btn-danger" role="button" >Atrás</a>
</div>
</div>

</body>
</html>
